body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(90, 90, 90);
    padding: 20px;
    font-size: 32px;
    color: rgb(89, 89, 89);
    text-align: center;
}

.chamada {
    background: rgb(255, 2, 2);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria {
    padding: 20px;
    margin-top: 50px;
}

.categoria h2 {
    color: rgb(42, 122, 228);
    font-size: 28px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    transition: all 0.3s ease;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(255, 2, 2);
}
